@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F6F8FC;
}

* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}
.panel {
  height: 90vh;
  max-width: 99vw;
  display: flex;
}