.main {
  width: 99vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 8px;
 
}

.headerLeft {
  width: 14%;
  display: flex;
  align-items: center;

}

.divBarsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  /* border-radius: 50%; */
  clip-path: circle();
  margin: 0 12px;
  cursor: pointer;
}

.divBarsIcon:hover {
  background-color: rgb(225, 225, 225);
}

.iconBars {
  font-size: 18px;
  color: rgb(92, 92, 92);

}

.headerMid {
  width: 80%;
  display: flex;
  align-items: center;
  /* padding: 0 40px; */

}

.searchBar {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  padding: 0 12px;
  background-color: #e7efff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  background-color: transparent;
  height: 100%;
  width: 90%;
  border: none;

}

.searchInput::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  padding-left: 5px;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.iconsRight {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
  cursor: pointer;
}

.iconsRight:hover {
  background-color: rgb(225, 225, 225);
}

.iconsItems {
  font-size: 20px;
  color: rgb(92, 92, 92);
}

.panel {
  height: 90vh;
  max-width: 99vw;
  display: flex;
}

.leftPanel {
  width: 14%;
  min-width: 268px;
  /* border: solid 1px red; */
  height: 90vh;
}

.rightPanel {
  width: 85%;
  border-radius: 10px;
}

.inboxHeader {
  background-color: white;
  height: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.leftControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  height: 100%;
  padding: 0 0 0 15px;
}

.iconsLeftControl {
  font-size: 14px;
  color: rgb(92, 92, 92);

}

.selectBox {
  display: flex;
  margin: 0 10px 0 0;

}

.checkBox {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.checkBox:hover {
  background-color: rgb(225, 225, 225);
}

.iconCaretDown {
  cursor: pointer;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCaretDown:hover {
  background-color: rgb(225, 225, 225);
}

.tabContainer {
  display: flex;
  background-color: white;
  border-bottom: solid 1px rgb(232, 232, 232);
}

.tabItem {
  white-space: nowrap;
  letter-spacing: 0.5px;
  font-size: .875rem;
  font-weight: 500;
  line-height: 16px;
  width: 15%;
  height: 56px;
  color: rgb(92, 92, 92);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  cursor: pointer;
}

.tabItem:hover {
  background-color: rgb(225, 225, 225);

}

.tabIcon {
  margin: 0 8px;
}

.newMessageBtn {
  height: 56px;
  width: fit-content;
  background-color: #C2E7FF;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 16px;
  margin: 8px 0 16px 8px;
  cursor: pointer;
}

.newMessageBtn:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.iconNewMessageBtn {
  font-size: 20px;
  margin: 0 15px 0 0;
}

.leftTabs {
  font-size: 14px;
  font-weight: 500;
  color: rgb(92, 92, 92);
  height: 32px;
  width: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 16px 16px 0;
}

.leftTabs:hover {
  background-color: rgb(225, 225, 225);
}

.leftTabsIconContainer {
  white-space: nowrap;
  width: 60px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLeftTab {
  font-size: 17px;
  /* margin: 0 20px; */
}

.primaryLeftSelectorsContainer {
  margin-bottom: 50px;
}

.secondarySelectorTitle {
  color: rgb(92, 92, 92);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  width: 90%;
  padding-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabLabelIcon {
  display: flex;
}

.secondTabOptionIcon {
  display: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  clip-path: circle();
  color: black;

}

.leftTabs:hover>.secondTabOptionIcon {
  display: flex;
}

.secondTabOptionIcon:hover {
  background-color: rgb(201, 201, 201);
}

