.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 8px;
}

.headerLeft {
  width: 14%;
  min-width: 260px;
  display: flex;
  align-items: center;
}

.divBarsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  /* border-radius: 50%; */
  clip-path: circle();
  margin: 0 12px;
  cursor: pointer;
}

.divBarsIcon:hover {
  background-color: rgb(225, 225, 225);
}

.iconBars {
  font-size: 18px;
  color: rgb(92, 92, 92);
}

.headerMid {
  width: 80%;
  display: flex;
  align-items: center;
  /* padding: 0 40px; */
}

.searchBar {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  padding: 0 12px;
  background-color: #e7efff;
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  background-color: transparent;
  height: 100%;
  width: 90%;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: large;
  padding-left: 10px;
}

.searchBar:focus-within {
  background-color: white;
  outline: unset;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.searchInput:focus-visible {
  outline: unset;
}

.resultModal {
  position: absolute;
  top: 98%;
  left: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 0 0 5px 5px;
}
.resultContainer {
  border-bottom: 1px solid rgba(236, 236, 236, 0.492);
}
.resultRow {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-left: 2px solid white;
}
.resultRow:hover {
  background-color: rgba(236, 236, 236, 0.492);
  border-left: 2px solid #0b57d0;
}
.rowPicto {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 16px;
  color: rgb(92, 92, 92);
}
.rowInfoMain {
  font-size: 14px;
}
.rowInfoSecond {
  color: rgb(92, 92, 92);
  font-size: 13px;
}
.resultDate {
  margin-left: auto;
  align-content: center;
  font-size: 12px;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.iconsRight {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
  cursor: pointer;
}

.iconsRight:hover {
  background-color: rgb(225, 225, 225);
}

.iconsItems {
  font-size: 20px;
  color: rgb(92, 92, 92);
}
